.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  weight: 100vw;
  background-image: url("/public/images/background-login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & .header {
    font-size: 5rem;
    font-weight: 300;
    color: #95bce2;
    margin-bottom: 3rem;
  }
  
  & .name {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 18rem;
  }
  
  & .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 18rem;
  }
  
  & .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    & .rememberMe {
      color: #ffffff;

      & .checkbox {
        color: #ffffff;
      }
    }

    & .forgotPW {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #ffffff;
    }
  }

  & .LoginBtn {
    margin-bottom: 1rem;
  }
  
  & .NoAccount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

    & p {
      margin-right: 1rem;
      color: #ffffff;
    }

    & .RegHere {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #ffffff;
    }
  }
}



